[submodule "d3l"]
	path = d3l
	url = https://github.com/alex-bogatu/d3l
[submodule "starmie"]
	path = starmie
	url = https://github.com/megagonlabs/starmie
[submodule "aurum-datadiscovery"]
	path = aurum-datadiscovery
	url = https://github.com/mitdbg/aurum-datadiscovery
